body {
    margin: -1.5%;
    padding:0px;
    background-color: rgb(228, 225, 226);
}

#heading {
    background-color: rgb(7, 103, 138);
    width: 100%;
    color: rgba(255, 255, 255, 0.81);
}

#siteTitle {
    text-align: center;
    padding: 2%;
}

.searchBar, .weatherToday, .weatherForecast {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.weatherForecast {
    margin-top: 5px;
}